[Unit]
Description=gunicorn daemon for 99Roadmap
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/99roadmap
ExecStart=/var/www/99roadmap/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/var/www/99roadmap/99roadmap.sock \
          roadmap99.wsgi:application

[Install]
WantedBy=multi-user.target
