[Unit]
Description=gunicorn daemon for 99Roadmap
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/Divakar
ExecStart=/var/www/Divakar/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/var/www/Divakar/roadmap99.sock \
          roadmap99.wsgi:application

[Install]
WantedBy=multi-user.target
